# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfstate
**/*.tfstate.*

# Terraform variables with secrets
**/*.tfvars
**/*.tfvars.json

# SSH keys
**/*.pem
**/*.key
**/id_rsa
**/id_rsa.pub

# macOS
.DS_Store
